<%= form_for @job do |f| %>
  <%= f.label :title, 'Título' %>
  <%= f.text_field :title %>

  <%= f.label :location, 'Local' %>
  <%= f.text_field :location %>

  <%= f.label :category_id, 'Categoria' %>
  <%= f.collection_select(:category_id, @categories, :id, :name, { prompt: true }) %>

  <%= f.label :company_id, 'Empresa' %>
  <%= f.collection_select(:company_id, @companies, :id, :name, { prompt: true }) %>

  <%= f.label :description, 'Descrição' %>
  <%= f.text_field :description %>

  <div class="highlight clearfix">
    <%= f.check_box :featured %>
    <%= f.label :featured, 'Destaque' %>
  </div>

  <%= f.submit submit_tag %>
<% end %>