<% unless job.expired? %>
  <article class="job-container">
    <h1>
      <%= link_to job do %>
        <%= job.title %>
        <%= ' (Novidade)' if job.recent? %>
      <% end %>
    </h1>

    <p><%= job.location %></p>
    <p><%= job.category.name %></p>
    <p><%= job.company.name %></p>

    <% if job.featured %>
      <div class="highlight">
        <strong>Destaque</strong>
      </div>
    <% end %>
  </article>
<% end %>