<% unless job.expired? %>
  <div class="job-container">
    <h1>
      <%= link_to job.title, job %>
      <%= 'Novidade' if job.recent? %>
    </h1>
    <p><%= job.category.name %></p>
    <p><%= job.company.name %></p>
    <p><%= job.location %></p>

    <% if job.featured %>
      <strong>Destaque</strong>
    <% end %>
  </div>
<% end %>