<div id="company-body">
  <div class="company-container">
    <h1> <%= @company.name %></h1>
    <p> <%= @company.location %></p>
    <p> <%= @company.mail %></p>
    <p> <%= @company.phone %></p>
  </div>

  <%= link_to 'Voltar', root_path %>
</div>