<div id="company-body">
  <%= image_tag('estrela.png') if @company.premium? %>

  <section class="company-container">
    <h1> <%= @company.name %></h1>

    <p>
      <strong>Localização:</strong>
      <%= @company.location %>
    </p>

    <p>
      <strong>E-mail:</strong>
      <%= @company.mail %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= @company.phone %>
    </p>
  </section>

  <% if @company.jobs.any? %>
    <h2>Vagas</h2>

    <section id="jobs" class="clearfix">
  	  <%= render @company.jobs %>
    </section>
  <% else %>
  	<div class="message">Nenhuma vaga disponível</div>
  <% end %>

  <%= link_to 'Voltar', root_path %>
</div>