<div id="company-body">
  <%= image_tag('estrela.png') if @company.premium? %>

  <div class="company-container">
    <h1> <%= @company.name %></h1>
    <p> <%= @company.location %></p>
    <p> <%= @company.mail %></p>
    <p> <%= @company.phone %></p>
  </div>

  <% if @company.jobs.any? %>
  	<%= render @company.jobs %>
  <% else %>
  	<div class="message">Nenhuma vaga disponível</div>
  <% end %>

  <%= link_to 'Voltar', root_path %>
</div>