<% if flash[:notice] %>
  <div class="message">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.submit submit_tag %>
<% end %>